@model ContosoUniversity.Models.Department
@{
    ViewData["Title"] = "Delete";
}
<h1>Details</h1>
<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt> @Html.DisplayNameFor(model => model.Name)</dt>
        <dt> @Html.DisplayFor(model => model.Name)</dt>
        <dt> @Html.DisplayNameFor(model => model.Administrator)</dt>
        <dt> @Html.DisplayFor(model => model.Administrator.FullName)</dt>
        <dt> @Html.DisplayNameFor(model => model.Budget)</dt>
        <dt> @Html.DisplayFor(model => model.Budget)</dt>
        <dt> @Html.DisplayNameFor(model => model.StartDate)</dt>
        <dt> @Html.DisplayFor(model => model.StartDate)</dt>
        <dt> @Html.DisplayNameFor(model => model.DepartmentOwner)</dt>
        <dt> @Html.DisplayFor(model => model.DepartmentOwner)</dt>
        <dt>
            @{
                if (Model.EndDate != null)
                {
                    @Html.DisplayNameFor(model => model.EndDate)
                }
            }
        </dt>
        <dt>
            @{
                if (Model.EndDate != null)
                {
                    @Html.DisplayNameFor(model => model.EndDate)
                }
            }
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DepartmentID" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-warning">Index</a>
</div>
